<div class="container title mt-2">
    <div class="row">
        <div class="col">
            <h1>Contact management application
                <a routerLink="/contacts/add" class="btn btn-success">
                    <i class="fa-solid fa-user-plus"></i>
                    Add New

                </a>
            </h1>
            <p style="text-align: justify;">
                This is dummy data : Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nisi architecto ad
                doloremque culpa inventore voluptate nemo, commodi deserunt sapiente veniam iste velit aspernatur alias
                accusamus autem corporis est fuga? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nisi
                architecto ad doloremque culpa inventore voluptate nemo, commodi deserunt sapiente veniam iste velit
                aspernatur alias accusamus autem corporis est fuga?


            </p>
            <div class="row">
                <div class="col-6">
                    <input (keyup)="search($event)" type="text" class="form-control" placeholder="Search contact here">


                </div>
               
            </div>


         

            <div class="container mt-2">
                <div class="row">
                    <div class="col-md-6 mt-3" *ngFor="let contact of allContacts | filter :searchKey:'name' "  >
                        <div class="card list-group-secondary">
                            <div class="card-body">
                              <div class="row align-items-center">
                                <div class="col-md-4">
                               
                                    <img height="160px" [src]="contact.photo"  alt="no image" class="contact_image">
                                </div>
    
                                <div class="col-md-7">
                                    <ul class="list-group">
                                        <li class="list-group-item">Name: <b>{{contact.name}}</b> </li>
                                        <li class="list-group-item">Email:  <b>{{contact.email}}</b></li>
                                        <li class="list-group-item">Mobile: <b>{{contact.mobile}}</b></li>
                                      
                                      </ul>
    
                                    </div>
                                    <div class="col-md-1 d-flex flex-column justify-content-center align-items-center">
                                      <a routerLink="/contacts/view/{{contact.id}}" class="btn btn-warning">
                                        <i class="fa-solid fa-eye"></i>
                                      </a> 

                                      <a routerLink="/contacts/edit/{{contact.id}}" class="btn btn-success mt-1">
                                        <i class="fa-solid fa-pen"></i>
                                      </a> 

                                      <button (click)="deleteContact(contact.id)" class="btn btn-danger mt-1 ">
                                        <i class="fa-solid fa-trash"></i></button>
                                
                                       

                                    </div>
                              </div>
                            </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
